# .dockerignore

# Ignore Docker related files
Dockerfile
docker-compose.yml

# Ignore Git
.git
.gitignore

# Ignore documentation and license
README.md
LICENSE
skyfield docs/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local virtual environment if any
.venv
venv